.header {
  padding: 0 80px; /* 상하는 0, 좌우는 80px */
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌우로 끝 정렬 */
}

.logo-image {
  width: 64px;
  height: 36px;
}

.appDownload-button {
  background-color: #ff6f0f;
  color: white;
  border: none; /* 테두리 제거 */
  border-radius: 2px; /* ← 이게 둥글게 만드는 부분! */
  padding: 5px 10px; /* 위아래 10px, 좌우 20px */
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; /* 글씨 굵게 */
}

.appDownload-button:hover {
  background-color: #ff8f40; /* 원래 색보다 살짝 하얀 느낌 나는 밝은 주황 */
}

.location-keyword-banner {
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;     /* 세로 중앙 */
  margin-top: 128px;
  margin-bottom: 64px;
}

.Marker-icon {
  width: 52px;
  height: 52px;
}

.location-keyword-banner-name {
  font-size: 38px;
}
