.header {
  padding: 0 80px; /* 상하는 0, 좌우는 80px */
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌우로 끝 정렬 */
}

.logo-image {
  width: 64px;
  height: 36px;
}

.appDownload-button {
  background-color: #ff6f0f;
  color: white;
  border: none; /* 테두리 제거 */
  border-radius: 2px; /* ← 이게 둥글게 만드는 부분! */
  padding: 5px 10px; /* 위아래 10px, 좌우 20px */
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; /* 글씨 굵게 */
}

.appDownload-button:hover {
  background-color: #ff8f40; /* 원래 색보다 살짝 하얀 느낌 나는 밝은 주황 */
}

.location-keyword-banner {
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  margin-top: 128px;
  margin-bottom: 64px;
  gap: 16px;
}

.bannerMaker {
  font-size: 40px; /* 아이콘 크기를 40px로 설정 */
}

.location-keyword-banner-name {
  font-size: 38px;
}

.location-search-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.location-button {
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 32px; /* 숫자가 클수록 더 둥글어져 */
  background-color: #1a1c20;
  color: white;
  width: 130px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  gap: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.location-button:hover {
  background-color: #3a3f44; /* 원래 색보다 살짝 하얀 느낌 나는 밝은 주황 */
}

.category-search-container {
  width: 600px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 32px; /* 숫자가 클수록 더 둥글어져 */
  border: 1px solid #ccc; /* 연한 회색 외곽선 */
}

.Category-Dropdown-caret-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Category-Dropdown {
  margin-right: 0.5rem;
}

.caretIcon {
  margin-right: 0.5rem;
}

.search-bar {
  border: none;
}

.vertical-line {
  width: 1px;
  height: 20px; /* 세로선의 길이 */
  background-color: #ccc; /* 세로선의 색 */
  margin-right: 0.5rem;
}

.search-bar {
  width: 450px;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #1a1c20;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle:hover {
  background-color: #3a3f44;
}

.arrowRight {
  color: #ffffff;
}

.popular-keywords-list-container {
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 177px;
}

.popular-keywords-label {
  color: #868b94;
  margin-right: 16px;
  font-size: 14px;
}

.popular-keywords-list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: 1rem;
}

.popular-keywords-item {
  color: #586070;
  font-size: 14px;
}

.popular-keywords-item-link {
  text-decoration: none; /* 기본 밑줄 제거 */
  color: inherit; /* 색상은 기본 상속 */
}

.popular-keywords-item-link:hover {
  text-decoration: underline;
}

.link-icon-and-text-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.link-icon-and-text-list {
  gap: 1rem;
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width: 900px;
}

.link-icon-and-text-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f4f5;
  border-radius: 0.5rem;
  padding: 12px;
  width: 120px;
  height: 80px;
}

.link-icon-and-text-link:hover {
  background-color: #f8f9fa;
}

.bagIcon {
  font-size: 24px;
}

.userIcon {
  font-size: 24px;
}

.houseIcon {
  font-size: 24px;
}

.carIcon {
  font-size: 24px;
}

.storeIcon {
  font-size: 24px;
}

.fileLines {
  font-size: 24px;
}

.peopleGroup {
  font-size: 24px;
}

.recommend-region-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 354px;
}

.recommend-region-list {
  display: flex;
  flex-wrap: wrap; /* 최대 길이 넘어갈시 줄바꿈 */
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width: 840px;
  gap: 0.5rem;
}

.recommend-region-link {
  padding: 10px 14px;
  background-color: #f3f4f5;
  border-radius: 2rem;
}

.recommend-region-link:hover {
  background-color: #f8f9fa;
}

.recommend-region-item {
  white-space: nowrap;
  font-size: 14px;
}

.footer-container {
  padding: 0px 80px;
}

.footer-logo {
  width: 52px;
  height: 26px;
  margin-bottom: 24px;
}

.footer-sns-cotainer {
}

.footerFacebook {
  font-size: 24px;
  margin-right: 16px;
}

.footerInstargram {
  font-size: 24px;
  margin-right: 16px;
}

.footerYouTube {
  font-size: 24px;
}

.footer-sns-nav-container {
  display: flex;
  padding: 64px 0px;
}

.footer-logo-nav-container {
  margin-right: 300px;
}

.footer-nav-company {
  display: flex;
}

.footer-company-container {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.footer-company {
  font-weight: bold;
  margin-bottom: 12px;
}

.company-info {
  font-size: 14px;
  margin-bottom: 8px;
}

.karrot-pay {
  font-size: 14px;
  margin-bottom: 8px;
}

.team-culture {
  font-size: 14px;
  margin-bottom: 8px;
}

.service-info {
  font-size: 14px;
  margin-bottom: 8px;
}

.blog {
  font-size: 14px;
  margin-bottom: 8px;
}

.Recruitment {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-Exploration-conatiner {
  display: flex;
  flex-direction: column;
}

.footer-Exploration {
  font-weight: bold;
  margin-bottom: 12px;
}

.Peer-to-peer-marketplace {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.Peer-to-peer-marketplace:hover {
  color: #595959;
}

.real-estate {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.real-estate:hover {
  color: #595959;
}

.used-car {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.used-car:hover {
  color: #595959;
}

.part-time-job {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.part-time-job:hover {
  color: #595959;
}

.local-business {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.local-business:hover {
  color: #595959;
}

.neighborhood-life {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.neighborhood-life:hover {
  color: #595959;
}


.group-meeting {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.group-meeting:hover {
  color: #595959;
}

.chat-window {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.chat-window:hover {
  color: #595959;
}
